body{
    background-color:#fff; 
    margin:0px; 
    padding:0px; 
    font-family:Arial, Helvetica, sans-serif
}
      
    ul{
        margin:0px; 
        padding:0px; 
    }
      
    li{ 
        list-style:none; 
        width:100%; 
        border-bottom:thin #fff solid
    }     
      
    a{
        text-decoration:none; 
        color:#fff; 
        display:block; 
        text-align:center; 
        padding:15px 0px 15px 0px
    }
      
    a:hover{ 
        background-color:navy; 
        color:#fff
    }     
      
    h1{ 
        background-color:#993333; 
        color:#fff; 
        margin:0px; 
        padding:11px 0px 11px 50px;
    }
      main{ 
        background-color:aliceblue
    }
      footer{ 
        background-color:gainsboro
    }
      
      #menuCheck{ 
        display:none}

      .iconoMenu{
        width:30px; 
        height:26px; 
        float:left; 
        cursor:pointer}

      .iconoMenu:before{
        margin-top: 20px; 
        margin-left:15px; 
        display: block;
        height: 2px;
        width: 20px;
        border-top: 1px solid #dddddd;
        background: #dddddd;
        content: '';
    }

      .iconoMenu:after{
        margin-top: 5px; 
        margin-left:15px; 
        display: block;
        height: 4px;
        width: 20px;
        border-top: 3px solid #dddddd;
        border-bottom: 3px solid #dddddd;
        content: '';}

      .contenedorMenu{ 
        width:100%; 
        height:100%;  
        background-color:#888; 
        position:absolute; 
        top:60px;  
        transform: translateX(-100%); 
        transition: all 0.5s;
    }

      #menuCheck:checked ~ .contenedorMenu{
        transform: translateX(0%)
    }